{% extends "base.html" %}
{% block title %} {{ entity.name }} {% endblock %}
{% block add_imports %}  <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css"/>
  {% endblock %}

{% block content %}
    <div>
        <p>Type: {{ type }}</p>
        <p>Name: {{ entity.name }}</p>
        <p>Population: {{ entity.population }}</p>
        <p>Elevation: {{ entity.elevation }}</p>
    </div>
    {% if type == "Region" or type == "Town" %}
        {% if type == "Town" %}
    <div>
            Region : {{ entity.region.name }}
    </div>
        {% endif %}
    <div>
            Country : {{ entity.country.name }}
    </div>
    {% else %}
        {% if entity.capital %}
    <div>
            Capital : {{ entity.capital.name }}
    </div>
        {% endif %}
    {% endif %}
{% endblock %}