<!-- Will generate a slide passing arg images from db -->
<div class="carousel slide" data-interval="4000" data-ride="carousel">
    <div class="carousel-inner">
        {% for image in images %}
        {% if forloop.counter0 == 0 %}
        <div class="carousel-item active">
            <img alt="" src="/media/{{ image.image }}">
        </div>
        {% else %}
        <div class="carousel-item">
            <img alt="" src="/media/{{ image.image }}">
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>