{% extends "base.html" %}
{% block title %} Log in {% endblock %}
{% block content %}
<form action="/do_login/" class="was-validated" id="login-form" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="uname">Username:</label>
        <input class="form-control" id="uname" name="uname" placeholder="Enter username" required type="text">
        <div class="invalid-feedback" id="uname-error"></div>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input class="form-control" id="pwd" minlength="8" name="pswd" placeholder="Enter password" required
               type="password">
        <div class="invalid-feedback" id="pwd-error"></div>
    </div>
    <button class="btn btn-primary" onclick="CheckForm()">Submit</button>
</form>
{% if no_user %}
<div> User not found, sorry</div>
{% endif %}
{% endblock %}


